<html>
<head>
    <link href="{{ url_for('static', filename='main.css') }}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="main">
        <h1> {{ data[0].wahlperiode }}. Wahlperiode - Sitzung {{ data[0].sitzung }}</h1>
        {# unfortunately jinja does not support overwriting regular variables from within a loop... #}
        {% set vars = {'last_top': None} %}

        {% for row in data %}
            {% if row.top|string() != vars.last_top|string() %}
               {% if vars.update({'last_top': row.top}) %} {% endif %}
                <h2 id="top-{{ row.top }}">Tagesordnungspunkt {{row.top}}</h2>
            {% endif %}

        {% if row['type'] in ['speech', 'chair'] %}
            <div id="{{row['sequence']}}" {% if debug %} style="background-color: {{row['top'] | prcolor }}" {% endif %}>
                <div class="speaker-info">

                    <a class="speaker">
                        {% if row['speaker_party'] %}
                            {{row['speaker_cleaned']}}
                        {% else %}
                            {{row.speaker}}
                        {% endif %}
                    </a>
                    {% if row['type'] == 'chair' %}
                    👩‍⚖️
                    {% endif %}

                    {% if row['speaker_party'] %}
                    <span class="party"><img src="{{ url_for('static', filename=row['speaker_party'] + '.svg') }}"/></span>
                    {% endif %}
                    <a class="jumpmark" href="#{{row['sequence']}}">🔗</a>
                </div>
                <div class="text">{{row['text'] | nl2br}}</div>
            </div>
        {% elif row['type'] == 'poi' %}
            <div class="poi" id="{{row['sequence']}}" {% if debug %} style="background-color: {{row['top'] | prcolor }}" {% endif %}>
                {{ row['text'] | poiemoji }}

                {{ row['text'] }}

                {% if row['speaker_cleaned'] %}
                    (
                        {{row['speaker_cleaned']}}
                        {% if row['speaker_party'] %}
                        <span class="poi-party"><img src="{{ url_for('static', filename=row['speaker_party'] + '.svg') }}"/></span>
                        {% endif %}
                    )
                {% endif %}
                <a class="jumpmark" href="#{{row['sequence']}}">🔗</a>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</body>
</html>


