<html>
<head>
    <link href="{{ url_for('static', filename='main.css') }}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="main">
    {% for row in data %}
    {% if row['type'] in ['speech', 'chair'] %}
        <div id="{{row['sequence']}}">
            <div class="speaker-info">
                <span class="speaker">{{row['speaker_cleaned']}}</span>
                {% if row['type'] == 'chair' %}
                👩‍⚖️
                {% endif %}

                {% if row['speaker_party'] %}
                <span class="party"><img src="{{ url_for('static', filename=row['speaker_party'] + '.svg') }}"/></span>
                {% endif %}
                <a class="jumpmark" href="#{{row['sequence']}}">🔗</a>
            </div>
            <span class="text">{{row['text']}}</span>
        </div>
    {% elif row['type'] == 'poi' %}
        <div class="poi" id="{{row['sequence']}}">
            {{ "👏" if 'Beifall' in row['text'] }}
            {{ "😂" if 'Heiterkeit' in row['text'] }}

            {% if 'Beifall' not in row['text'] and 'Heiterkeit' not in row['text'] %}
            🗯
            {% endif %}

                {{ row['text'] }}

                {% if row['speaker_cleaned'] %}
                    (
                        {{row['speaker_cleaned']}}
                        {% if row['speaker_party'] %}
                        <span class="poi-party"><img src="{{ url_for('static', filename=row['speaker_party'] + '.svg') }}"/></span>
                        {% endif %}
                    )
                {% endif %}
                <a class="jumpmark" href="#{{row['sequence']}}">🔗</a>
                </div>

        </div>
    {% endif %}

    {% endfor %}
</div>
</body>
</html>


